.comment {
  margin-top: 4rem;
  max-height: 100vh;
  width: 90%;
}
.thumbVertical {
  background: rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  &:hover {
    background: rgb(199, 199, 199);
  }
}

.trackVertical {
  // background-color: red;
  overflow: hidden;
  position: absolute;
  right: 0;
  margin-right: 1%;
  border-radius: 10px;
  &:hover {
    background: rgba(255, 255, 255, 0.1);
  }
}

.comment-box {
  background: $dark-website;
  // width: 100%;
  display: flex;
  padding: 2rem;
  margin-bottom: 0.5rem;
  justify-content: center;
  align-items: flex-start;
  @include heading-level(2);
  &__image {
    border-radius: 100%;
    width: 40px;
  }
  &__box {
    padding-left: 1rem;
  }
  &__detail {
    margin: 0;
    display: flex;
    justify-content: space-between;
    &--author {
      color: $font-grey;
    }
    &--time {
      margin: 0rem 1rem;
    }
    &--like {
      color: $dark-green;
      font-size: 1.4rem;
    }
  }
  &__comment {
    margin: 1rem 0;
  }
  &__load-comment {
    background: $dark-green;
    width: 100%;
    padding:1rem 0;
    text-align: center;
    font-weight: bold;
    border-radius: 2px;
  }
}
