
.header{
    background: $dark-website; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_first {
    padding: 0 0 0 8rem;
    font-size: 1.9rem;
    font-weight: 100;
    color:grey
}

.header_second{
    flex-basis: 50%;
    justify-content: center;
}

.header_second *{
    margin: 0 1rem;
}

.header_logo{
    font-size: 1.6rem;
    padding-right:2rem ;
}

.header_btn{
    border:none;
    text-decoration: none;
    background: transparent;
    font-size:1.3rem;
    color:grey;
    cursor: pointer;
    transition: color 1s;
    font-weight: bolder;
    &:hover{
        color:white;
    }
}



.header_quick {
    border:1px solid grey;
    border-radius: 25px;
    color:grey;
    &--input{
        border:none;
        outline: none;
        margin:0;
        background: transparent;
        padding:1rem;
        padding-left: 0;
        color:grey;
        &::-webkit-input-placeholder{
            font-weight: bolder;
        }
    }
}



.header_login {
    color:white;
    @include heading_level(1.2);
    font-weight: bolder;
    & *{
        margin:0;
        padding:0 1rem;
    }
    &--login{
        border-right: 1px solid white;
    }
    &--register{

    }
}


