.browse {
    background: #171717;
    color: white;
  }
  
  .browse * {
    max-width: 1000px;
    margin: auto;
  }
  
  .browse-filter {
    display: flex;
    width: 50%;
    color: rgb(110, 106, 106);
    padding: 4rem 0;
    justify-content: center;
    align-content: flex-start;
  }
  
  .browse-filter * {
    margin: 0;
  }
  
  .browse-filter *:not(:last-child) {
    margin-right: 2rem;
  }
  
  .browse-filter--wraper {
    flex: 1 1;
  }
  
  .browse-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  
  .browse-drops {
    display: flex;
    justify-content: center;
  }
  
  .browse-drops * {
    flex: 1 1;
  }
  
  .browse-drops *:not(:last-child) {
    margin-right: 2rem;
  }
  
  .browse-search {
    position: relative;
  }
  
  .browse_search--heading--pri,
  .browse_search--heading {
    display: block;
    padding: 1rem 0;
  }
  .browse_search--input {
    width: 100%;
    border: none;
    outline: none;
    color: rgb(170, 165, 165);
    font-size: 1.6rem;
    padding: 0.9rem;
    border-radius: 3px;
    background: #282828;
  }
  
  .browse_search--heading {
    font-size: 1.4rem;
  }
  
  .browse_search--heading--pri {
    font-size: 2rem;
  }
  
  .browse_search--btn {
    border: none;
    outline: none;
    align-self: center;
    transform: translateY(-37%);
    background: #6ac045;
    font-size: 1.6rem;
    color: white;
    padding: 0.9rem 2.2rem;
    border-radius: 3px;
  }
  
  .browse_drops--select {
    outline: none;
    border: none;
    width: 100%;
    padding: 0.9rem;
    border-radius: 3px;
    color: rgb(170, 165, 165);
    background: #282828;
  }
  
  .browse_drops--select option {
    width: 10rem;
    color: rgb(170, 165, 165);
    background: #00000094;
  }
  
  /* BROWSE RESULT MOVIES CSS*/
  .browse-movies * {
    max-width: 1000px;
    margin: auto;
  }
  
  .browse-movies {
    display: flex;
    width: 100%;
    max-width: 100% !important;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    background: #282828;
  }
  
  .browse-movies--result {
    color:#6ac045;
    margin-top: 1rem;
    font-size: 2rem;
  }
  
  .browse-movies--movies * {
    width: 15em;
  }
  
  .browse-movies--movies .movies_card{
      margin-top:2rem;
      margin-left: 5rem;
  }
  
  .browse-movies--movies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }